* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

/* @media (max-width: 575.98px) { */
@media (max-width: 576px) {
    .container {
        max-width: 100%;
    }

    .left2 {
        text-align: center;
        align-items: center;
    }

    h1 {
        font-size: 2rem;
    }

    .userimg {
        text-align: center;
    }

    .userimg img {
        width: 100%;
        height: auto;
        text-align: center;
    }

    h2 {
        font-size: 2rem;
    }
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }

    .card {
        flex: 1 1 48%;
    }

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2.5rem;
    }
}

@media (max-width: 768px) {
    .content-wrapper {
        flex-direction: column;
    }

    .left2 {
        text-align: center;
        align-items: center;
    }

    .left4,
    .right4 {
        width: 100%;
    }

    .left4 {
        order: 1;
        width: 100%;
    }

    .right4 {
        order: 2;
        width: 100%;
    }

    .boxsec {
        text-align: center;
        gap: 20px;
        justify-content: center;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }

    .btngroup {
        display: flex;
        gap: 10px;
    }

    .userimg img {
        width: 60%;
        height: auto;
        text-align: center;
    }

    .card {
        flex: 1 1 31%;
    }

    .text-dark {
        width: 100%;
    }

    .btngroup button {
        width: auto;
        flex: 1;
    }

    h1 {
        font-size: 3.5rem;
    }

    h2 {
        font-size: 3rem;
    }
}

@media (max-width: 992px) {
    .left2 {
        text-align: center;
        align-items: center;
    }

    .left3 {
        text-align: center;
    }

    .uppersec1 .hostingp {
        text-align: center;
    }

    .boxsec {
        justify-content: center;
        gap: 20px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }

    .navbar-expand-lg .navbar-toggler {
        display: none;
    }

    .userimg {
        text-align: center;
    }

    .boxsec {
        justify-content: space-between;
    }

    .userimg img {
        width: 100%;
        height: auto;
        text-align: center;
    }

    .grid-container .item-2:first-child {
        order: 2;
    }

    .card {
        flex: 1 1 23%;
        /* Four cards per row */
    }

    .text-dark {
        width: 75%;
    }

    .hostingp {
        text-align: center;
    }

    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 3.5rem;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }

    .userimg img {
        width: 100%;
        height: auto;
        text-align: center;
    }

    .boxsec {
        justify-content: space-between;
    }

    .left2 {
        width: 50%;
        align-self: center;
    }

    .left3 {
        width: 50%;
        align-content: center;
    }

    .right3 {
        width: 50%;
    }

    .right2 {
        width: 50%;
    }

    .left4 {
        width: 30%;
    }

    .right4 {
        padding: 20px;
        width: 70%;
    }

    .row1 {
        display: flex;
        flex-wrap: wrap;
    }

    .uppersec1 .hostingp {
        width: 48%;
        text-align: left;
        align-content: flex-end;
    }

    .uppersec1 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .text-dark {
        width: 55%;
    }
}

.uppersec2 {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.tabcontent {
    display: flex;
    padding: 30px 0px;
    flex-direction: row-reverse;
    align-items: center;
}

.tabs {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.d-flex {
    display: flex;
    flex-wrap: wrap;
}

.reverceclass {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    flex-wrap: wrap;
}

.align-item-center {
    align-items: center;
}

.justify-content-between {
    justify-content: space-between;
}

.navbar {
    padding: 0.5rem 1rem;
    background-color: #12141d;
}

.navbar-nav {
    list-style: none;
}

.text-decoration-none {
    text-decoration: none;
}

a {
    text-decoration: none;
}

.nav-link {
    color: white;
}

.btn {
    padding: 0.8rem 1rem;
    border-radius: 5px;
}

.transparent {
    background-color: transparent;
    border: none;
    color: white;
}

.button1 {
    background-color: #ccff8b;
    border: none;
}

.button2 {
    background-color: #ccff8b;
    border: none;
    padding: 1rem 2rem;
    border-radius: 5px;
}

.button3 {
    background-color: #ffffff;
    border: none;
    padding: 1rem 2rem;
    border-radius: 5px;
}

.button4 {
    background-color: #f4f4f5;
    border: none;
    padding: 1rem 2rem;
    border-radius: 5px;
}

.button4:hover {
    background-color: #ccff8b;
    transition: 0.5s;
    transform: translateY(-10px);
    box-shadow: 0px 5px 5px 5px rgb(207, 207, 207);
}

.navbar-dark .navbar-toggler {
    color: rgba(255, 255, 255, 0.5);
    border-color: rgba(255, 255, 255, 0.1);
}

.navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    display: none;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

button,
select {
    text-transform: none;
}

.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
}

.navbar-collapse {
    flex-grow: 1;
}

.navbar-brand {
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

.bg-dark {
    background-color: #12141d;
}

.py-2 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.px-2 {
    padding-left: 20px;
    padding-right: 20px;
}

.pt-3 {
    padding-top: 30px;
}

.py-1 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.py-3 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.px-3 {
    padding-left: 30px;
    padding-right: 30px;
}

.px-1 {
    padding-left: 10px;
    padding-right: 10px;
}

.pt-2 {
    padding-top: 20px;
}

.pt-1 {
    padding-top: 10px;
}

.pb-2 {
    padding-bottom: 20px;
}

.pb-1 {
    padding-bottom: 10px;
}

.text-light {
    color: #ffffff;
}

.btngroup button {
    width: 100%;
    margin-bottom: 10px;
}

h1 {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    margin-top: 0;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

.gap-3 {
    gap: 20px;
}

.cardgroup {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    gap: 1rem;
}

.row2 {
    text-align: -webkit-center;
}

.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.card-body {
    padding: 1rem;
}

.card-title {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

.card-text {
    flex-grow: 1;
}

.icon-small {
    width: 50px;
    height: 50px;
    margin-bottom: 1rem;
}

.py-5 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.px-5 {
    padding-left: 50px;
    padding-right: 50px;
}

.tabs {
    margin-top: 2rem;
}

.tab {
    overflow: hidden;
    text-align: center;
}

.tab button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    color: #a0a0a0;
}

.tab button:hover {
    background-color: #575757;
}

.tab button.active {
    background-color: #12141d;
    color: #ccff8b;
    border-bottom: 1px solid #ccff8b;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
}

.content-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text-center {
    text-align: center;
}

span {
    font-size: 3.5rem;
}

.prising1 {
    background: #ffffff;
    box-shadow: -10px 10px 26px #ededed;
    padding: 35px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.prising2 {
    background: #ffffff;
    box-shadow: 0px 0px 40px 30px #ededed;
    z-index: 3;
}

.maincard {
    padding: 0px 35px 35px 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.prising3 {
    background: #ffffff;
    box-shadow: 10px 10px 26px #ededed;
    padding: 35px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.prising {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.prising ul {
    padding-left: 25px;
}

.prising ul li {
    line-height: 28px;
    list-style: url(./rightsign.svg);
}

.priseupper {
    line-height: 30px;
}

.tabclass {
    padding: 5px;
    background: #ffffff;
    box-shadow: 10px 10px 26px #ededed, -10px -10px 26px #ffffff;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.buttondefal1,
.buttondefal2 {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.buttondefal1 {
    background-color: #ffffff;
    color: #000000;
}

.buttondefal2 {
    background-color: #fff;
    color: #000000;
}

.buttondefal1:hover,
.buttondefal2:hover {
    background-color: #ccff8b;
    color: #000000;
}

.buttondefal1.active,
.buttondefal2.active {
    background-color: #ccff8b;
    color: #000000;
}

.headercards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tabcontent {
    display: none;
}

.p-0 {
    margin: 0;
}

.topper {
    background-color: #12141d;
    color: #ffffff;
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
}

.grid-item {
    padding: 15px;
    border-radius: 8px;
    transition: transform 0.3s;
}

.item-1 {
    grid-column: 1;
    grid-row: 1 / 4;
}

.item-2 {
    grid-column: 2;
    grid-row: 2 / 5;
}

.item-3 {
    grid-column: 3;
    grid-row: 1 / 4;
}

/* Responsive Styles */
@media (max-width: 992px) {
    .grid-container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }

    .item-1 {
        grid-column: 1 / span 2;
        grid-row: 1;
        text-align: center;
        justify-self: center;
    }

    .item-2 {
        grid-column: 1 / span 2;
        grid-row: 2;
        text-align: center;
        justify-self: center;
    }

    .item-3 {
        grid-column: 1 / span 2;
        grid-row: 3;
        text-align: center;
        justify-self: center;
    }
}

@media (max-width: 480px) {
    .grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    .item-1,
    .item-2,
    .item-3 {
        grid-column: 1;
        grid-row: auto;
    }
}

.boxsec {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 1.5rem 2rem;
    background-color: #ccff8b;
    border-radius: 10px;
}

.darkbtn {
    background-color: #12141d;
    color: #ffffff;
    border-radius: 5px;
    border: none;
    height: fit-content;
    padding: 15px 40px;
}

.footer {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footerlist .list-unstyled li a {
    color: #ffffff;
}

.footerlist .list-unstyled li {
    color: #ffffff;
    line-height: 30px;
    list-style: none;
}

.footeritem .headertitle h3 {
    color: #ffffff;
    margin-bottom: 20px;
}